---
Checks:          '-*,clang-*,boost-*,concurrency-*,modernize-*,performance-*,-modernize-use-trailing-return-type'
HeaderFilterRegex: 'forms/.*|framework/.*|game/.*|library/.*|tests/.*|tools/.*'
AnalyzeTemporaryDtors: true
